body {
    margin: 0;
    font-family: sans-serif;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    margin-bottom: 20px;
}

header a {
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    text-align: left;
}

header a span:first-child {
    color: rgb(0, 119, 255);
}

header a span:last-child {
    color: rgb(0, 0, 0);
}

nav {
    background-color: rgb(39, 39, 66);
    padding: 10px 0;
    width: 100%;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav li {
    display: inline-block;
}

nav a {
    color: white;
    padding: 10px 20px;
    font-size: 14px;
    text-decoration: none;
    border-radius: 4px;
}

nav a:hover {
    background-color: lightblue;
}

main {
    display: flex;
    justify-content: space-between;
}

.left-section {
    width: 25%;
}

.left-section ul {
    list-style: none;
    padding: 0;
    border: 1px solid grey;
    margin: 0;
}

.left-section li {
    padding: 10px;
    font-size: 16px;
    text-align: left;
}

.left-section .highlighted {
    background-color: grey;
    color: white;
}

.left-section a {
    text-decoration: none;
    color: inherit;
}

.right-section {
    width: 70%;
    text-align: center;
}

.right-section img {
    width: 25%; 
    max-width: 150px;
    border: 1px solid grey;
    padding: 50px; 
    background-color: white; 
    margin-bottom: 20px;
}


.right-section p {
    font-size: 10px;
    line-height: 1.5;
    margin: 10px 0;
    text-align: left;
}


footer {
    display: flex;
    justify-content: space-between;
    background-color: grey;
    padding: 10px 20px;
    color: white;
}

footer a {
    color: blue;
    text-decoration: underline;
    margin: 0 5px;
}

footer p {
    margin: 0;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
